a {
    text-decoration: none;
}

.hero {
    width: 100%;
    padding: 40px 10px;
    background-color: var(--bg-1);
}

.hero-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-logo {
    width: fit-content;
    height: fit-content;
    display: flex;
    animation: logo-tilt 5s cubic-bezier(.5, 0, 0, 1) infinite
}

.hero-title svg {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    outline: 10px solid var(--bg-2);
    animation: logo-glow 1.5s cubic-bezier(.7, 0, .3, 1) infinite
}

.hero-title path {
    width: 100%;
    height: 100%;
}

.hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes logo-glow {
    0% {outline-width: 5px}
    50% {outline-width: 15px}
    100% {outline-width: 5px}
}

@keyframes logo-tilt {
    0% {transform: rotate(0deg)}
    40% {transform: rotate(0deg)}
    45% {transform: rotate(-10deg)}
    55% {transform: rotate(10deg)}
    60% {transform: rotate(-10deg)}
    80% {transform: rotate(10deg)}
    100% {transform: rotate(0deg)}
}

.card {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    outline: 1px solid var(--bg-1-light-2);
    background-color: var(--bg-1-light-2);
    box-shadow:
        1px 1px 4px #0009,
        inset 0 0 10px var(--bg-1-light-1);
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--fg-1);
    border: none;
    color: var(--txt);
    font-family: regular, arial;
    cursor: pointer;
    transform: scale(1);
    transition: .2s cubic-bezier(.5, 2, 0, 1);
}

.button:hover {
    transform: scale(1.1);
    border-radius: 5px;
}

.img-hold {
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--bg-1);
}

.img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.img.small {
    width: 300px;
    min-width: 0;
    max-width: 100%;
}

:root {
    --border: 5px;
    --radius: 100px
}

.nice-button {
    width: fit-content;
    display: inline-block;
    padding: 30px 50px;
    background: var(--bg-1);
    color: #fff;
    font-family: monospace;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: var(--h6);
    font-weight: normal;
    font-family: "regular", arial;

    animation: glow cubic-bezier(.5, 0, .5, 1) 2s infinite;

    position: relative
}

.nice-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 1/1;
    width: 150%;
    height: auto;
    border-radius: 50%;
    background: conic-gradient(#fff 0%, var(--bg-1) 3%, var(--acc-1) 60%, #fff 100%);
    animation: spin linear 2s infinite;
    transform: translate(-50%, -50%)
}

.nice-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - var(--border));
    height: calc(100% - var(--border));
    background: hsla(var(--hue), 20%, 10%, .5);
    transform: translate(-50%, -50%);
    border-radius: var(--radius);
    backdrop-filter: blur(50px);
}

.nice-button span {
    position: relative;
    display: block;
    text-wrap: nowrap;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg)
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@keyframes glow {
    0% {
        outline: 10px var(--bg-1) solid;
    }
    50% {
        outline: 20px var(--bg-1) solid;
    }
    100% {
        outline: 10px var(--bg-1) solid;
    }
}

.step {
    width: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: var(--h3);
}

.snip {
    padding: 2px 4px;
    border: 1px solid var(--bg-1-light-2);
    border-radius: 7px;
    background-color: var(--bg-3);
    font-size: var(--h7);
}

.code-block {
    position: relative;
    width: 100%;
}

.code-block .code-button {
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: var(--h7);
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    aspect-ratio: 1;
    width: 45px;
    height: 45px;
    padding: 5px;
    transform: scale(1);
    transition: .1s cubic-bezier(.5, 0, 0, 1);
}

.code-block .code-button:hover {
    background-color: var(--bg-1);
}

.code-block .code-button:active {
    transform: scale(.95);
}

.code-button svg, .code-button path {
    width: 100%;
    height: 100%;
    stroke-linecap: round;
    stroke-linejoin: round;
}

code, .fake-code-block {
    display: block;
    width: 100%;
    font-family: monospace;
    background-color: var(--bg-3);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--bg-1-light-2);
    font-size: 18px;
}

.fake-code-block a {
    display: block;
    width: 100%;
    text-decoration: none;
    border-radius: 3px;
}

.fake-code-block a:nth-child(odd) {
    color: var(--acc-1);
}

.fake-code-block a:nth-child(even) {
    color: var(--acc-2);
    background-color: var(--bg-1);
}

.items .item:nth-child(even) div {
    color: var(--acc-1);
}

.items .item:nth-child(odd) div {
    color: var(--acc-2);
}

.items .item:nth-child(odd) {
    background-color: var(--bg-3);
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bg-1);
    padding: 10px;
    border-radius: 20px;
}

.item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.item.side {
    flex-direction: row;
    align-items: center;
}

.item p {
    line-height: normal;
}

.icon-hold {
    position: relative;
    width: 100%;
    height: 100%;
}

.icon {
    position: absolute;
    transform: translateX(-50%) scale(1);
    animation: svg-appear .3s forwards cubic-bezier(.5, .5, 0, 1);
}

.icon.none {
    animation: svg-disappear .3s forwards cubic-bezier(.5, .5, 0, 1);
}

@keyframes svg-appear {
    0% {
        transform: translateX(-50%) scale(.5) rotate(20deg);
        opacity: 0;
        pointer-events: none;
    }
    100% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes svg-disappear {
    0% {
        transform: translateX(-50%) scale(1);
        opacity: 1;
        pointer-events: all;
    }
    100% {
        transform: translateX(-50%) scale(.5) rotate(20deg);
        opacity: 0;
        pointer-events: none;
    }
}

.gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
}

.gallery-item {
    min-width: 0;
    max-width: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    transition: .4s cubic-bezier(.5, .5, 0, 1);
    cursor: pointer;
    user-select: none;
    border-radius: 30px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    border-radius: 30px;
    box-shadow: 0 0 0 hsla(var(--hue), 30%, 15%, .5);
    background-color: hsl(var(--hue), 30%, 15%);
    border: 1px solid hsl(var(--hue), 40%, 30%);
    transition: .4s cubic-bezier(.5, .5, 0, 1);
}

.gallery-item:hover .gallery-img {
    box-shadow: 10px 10px 0 hsla(var(--hue), 30%, 15%, .5);
    transform: translate(-10px, -10px);
}

.gallery-item:active .gallery-img {
    box-shadow: 5px 5px 0 hsla(var(--hue), 30%, 15%, .5);
    transform: translate(-5px, -5px);
}

.gallery-img img {
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    image-rendering: crisp-edges;
}

.wide-svg, .wide-svg path {
    width: 100%;
    fill: none;
    stroke: var(--acc-1);
    stroke-width: .3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

pre {
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .hero-logo {
        display: none;
    }

    :root {
        --padding: 20px;
    }

    h1 span, h2 span {
        display: none;
    }
    h1, h2 {
        text-align: center;
        justify-self: center;
        align-self: center;
    }
}

@media screen and (max-width: 600px) {
    .item.side {
        flex-direction: column;
    }

    :root {
        --padding: 10px;
    }
}

@media screen and (max-width: 500px) {
    .hero {
        padding: 40px 0;
    }
    .hero-title span {
        font-size: var(--h3);
    }

    .side-by-side {
        flex-direction: column;
    }

    .step {
        align-self: center;
        padding-top: 10px;
    }

    p {
        line-height: 1.6;
    }
}